In [17]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split

import pandas as pd
import os

In [18]:
ROOT_DIR = "../data"
RANDOM_STATE = 200

train_data = pd.read_csv(os.path.join(ROOT_DIR, "train.csv"))

df_normal = train_data[train_data["target"] == "Normal"]
df_abnormal = train_data[train_data["target"] == "AbNormal"]

normal_ratio = 1.0

num_normal = len(df_normal)
num_abnormal = len(df_abnormal)

## under sampling
df_normal = df_normal.sample(n=int(num_abnormal * normal_ratio), replace=False, random_state=RANDOM_STATE)
df_concat = pd.concat([df_normal, df_abnormal], axis=0).reset_index(drop=True)

train_data = df_concat

# df_train, df_val = train_test_split(
#     df_concat,
#     test_size=0.3,
#     stratify=df_concat["target"],
#     random_state=RANDOM_STATE,
# )

In [19]:
columns = ['1st Pressure Collect Result_AutoClave',
 'Production Qty Collect Result_Dam',
 'Production Qty Collect Result_Fill2',
 'Production Qty Collect Result_Fill1',
 '2nd Pressure Collect Result_AutoClave',
 'PalletID Collect Result_Fill1',
 'PalletID Collect Result_Fill2',
 'Chamber Temp. Collect Result_AutoClave',
 '3rd Pressure Collect Result_AutoClave',
 'PalletID Collect Result_Dam',
 'Receip No Collect Result_Fill2',
 'Receip No Collect Result_Fill1',
 'Receip No Collect Result_Dam',
 'Machine Tact time Collect Result_Fill2',
 'Machine Tact time Collect Result_Fill1',
 'Machine Tact time Collect Result_Dam',
 'DISCHARGED TIME OF RESIN(Stage2) Collect Result_Fill1',
 'Dispense Volume(Stage2) Collect Result_Fill1',
 'DISCHARGED TIME OF RESIN(Stage3) Collect Result_Fill1',
 'Dispense Volume(Stage3) Collect Result_Fill1',
 'Dispense Volume(Stage1) Collect Result_Fill1',
 'Dispense Volume(Stage2) Collect Result_Dam',
 'DISCHARGED TIME OF RESIN(Stage2) Collect Result_Dam',
 'DISCHARGED TIME OF RESIN(Stage1) Collect Result_Fill1',
 'DISCHARGED TIME OF RESIN(Stage3) Collect Result_Dam',
 'HEAD NORMAL COORDINATE X AXIS(Stage2) Collect Result_Dam',
 'HEAD NORMAL COORDINATE X AXIS(Stage3) Collect Result_Dam',
 'DISCHARGED TIME OF RESIN(Stage1) Collect Result_Dam',
 'HEAD NORMAL COORDINATE Y AXIS(Stage1) Collect Result_Dam',
 'Dispense Volume(Stage3) Collect Result_Dam',
 'HEAD NORMAL COORDINATE Y AXIS(Stage2) Collect Result_Fill1',
 'HEAD NORMAL COORDINATE Z AXIS(Stage3) Collect Result_Fill1',
 'HEAD NORMAL COORDINATE Z AXIS(Stage2) Collect Result_Fill1',
 'Chamber Temp. Unit Time_AutoClave',
 'HEAD NORMAL COORDINATE Z AXIS(Stage2) Collect Result_Dam',
 'HEAD NORMAL COORDINATE Z AXIS(Stage1) Collect Result_Fill1',
 'HEAD NORMAL COORDINATE Y AXIS(Stage2) Collect Result_Dam',
 'HEAD NORMAL COORDINATE X AXIS(Stage2) Collect Result_Fill1',
 'HEAD NORMAL COORDINATE X AXIS(Stage3) Collect Result_Fill1',
 'HEAD NORMAL COORDINATE Z AXIS(Stage3) Collect Result_Dam',
 'target']

train_data = train_data[columns]

In [20]:
setup_clf = setup(data=train_data, target="target", train_size=0.7, session_id=333, fold_shuffle=True)

In [21]:
model = compare_models(sort='F1', fold=10, n_select=5)

In [22]:
tuned_model = [tune_model(i) for i in model]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [23]:
tuned_model

[GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                            learning_rate=0.0005, loss='log_loss', max_depth=9,
                            max_features='sqrt', max_leaf_nodes=None,
                            min_impurity_decrease=0.4, min_samples_leaf=3,
                            min_samples_split=7, min_weight_fraction_leaf=0.0,
                            n_estimators=150, n_iter_no_change=None,
                            random_state=333, subsample=0.25, tol=0.0001,
                            validation_fraction=0.1, verbose=0,
                            warm_start=False),
 ExtraTreesClassifier(bootstrap=True, ccp_alpha=0.0,
                      class_weight='balanced_subsample', criterion='entropy',
                      max_depth=9, max_features=1.0, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0,
                      min_samples_leaf=6, min_samples_split=7,
                      min_weight_fraction_leaf=0.0, monotonic_cst=None,
                      n_estimators=190, n_jobs=-1, oob_score=False,
                      random_state=333, verbose=0, warm_start=False),
 AdaBoostClassifier(algorithm='SAMME.R', estimator=None, learning_rate=1.0,
                    n_estimators=50, random_state=333),
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                        class_weight='balanced_subsample', criterion='entropy',
                        max_depth=9, max_features=1.0, max_leaf_nodes=None,
                        max_samples=None, min_impurity_decrease=0,
                        min_samples_leaf=6, min_samples_split=7,
                        min_weight_fraction_leaf=0.0, monotonic_cst=None,
                        n_estimators=190, n_jobs=-1, oob_score=False,
                        random_state=333, verbose=0, warm_start=False),
 LGBMClassifier(bagging_fraction=0.6, bagging_freq=5, boosting_type='gbdt',
                class_weight=None, colsample_bytree=1.0, feature_fraction=0.8,
                importance_type='split', learning_rate=0.2, max_depth=-1,
                min_child_samples=61, min_child_weight=0.001, min_split_gain=0.6,
                n_estimators=120, n_jobs=-1, num_leaves=6, objective=None,
                random_state=333, reg_alpha=5, reg_lambda=0.01, subsample=1.0,
                subsample_for_bin=200000, subsample_freq=0)]

In [26]:
blended_soft = blend_models(estimator_list=tuned_model[:2],
                       fold=10,
                       method="soft",
                       optimize="F1")

In [27]:
final_model = finalize_model(blended_soft)
evaluate_model(final_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [28]:
test_data = pd.read_csv(os.path.join(ROOT_DIR, "test.csv"))

train_columns = train_data.columns
test_data = test_data[train_columns]

df_test_x = test_data.drop(columns=['target'])

In [29]:
test_pred = predict_model(final_model, data=df_test_x)
test_pred

,1st Pressure Collect Result_AutoClave,Production Qty Collect Result_Dam,Production Qty Collect Result_Fill2,Production Qty Collect Result_Fill1,2nd Pressure Collect Result_AutoClave,PalletID Collect Result_Fill1,PalletID Collect Result_Fill2,Chamber Temp. Collect Result_AutoClave,3rd Pressure Collect Result_AutoClave,PalletID Collect Result_Dam,...,HEAD NORMAL COORDINATE Z AXIS(Stage2) Collect Result_Fill1,Chamber Temp. Unit Time_AutoClave,HEAD NORMAL COORDINATE Z AXIS(Stage2) Collect Result_Dam,HEAD NORMAL COORDINATE Z AXIS(Stage1) Collect Result_Fill1,HEAD NORMAL COORDINATE Y AXIS(Stage2) Collect Result_Dam,HEAD NORMAL COORDINATE X AXIS(Stage2) Collect Result_Fill1,HEAD NORMAL COORDINATE X AXIS(Stage3) Collect Result_Fill1,HEAD NORMAL COORDINATE Z AXIS(Stage3) Collect Result_Dam,prediction_label,prediction_score
0,0.315,195,195,195,0.316,13.000000,13.000000,54,0.498,13.000000,...,244.300003,483,282.149994,244.300003,1270.699951,458.799988,157.000000,282.149994,Normal,0.5042
1,0.304,14,14,14,0.583,57.400002,19.799999,56,0.600,60.500000,...,244.505005,363,274.200012,1323.099976,1271.800049,837.900024,458.299988,274.200012,Normal,0.5798
2,0.308,98,98,98,0.308,1.000000,1.000000,54,0.500,1.000000,...,244.199997,483,284.600006,244.199997,377.000000,458.500000,157.000000,284.600006,AbNormal,0.5557
3,0.301,14,14,14,0.302,68.300003,20.000000,52,0.500,73.199997,...,244.300003,452,282.149994,1323.099976,1271.800049,837.700012,458.799988,282.149994,Normal,0.5292
4,0.302,1,1,1,0.492,54.299999,19.799999,54,0.497,54.299999,...,244.399994,363,281.221985,431.100006,377.600006,838.400024,458.399994,281.221985,Normal,0.5326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17356,0.307,14,14,14,0.308,72.900002,19.500000,50,0.497,73.000000,...,244.300003,483,282.149994,1323.099976,1271.800049,837.700012,458.799988,282.149994,Normal,0.5432
17357,0.302,12,12,12,0.492,57.099998,19.799999,53,0.497,57.700001,...,244.505005,363,280.894012,1323.099976,1271.800049,837.400024,457.799988,280.894012,Normal,0.5381
17358,0.308,4,4,4,0.308,53.200001,20.500000,54,0.497,53.799999,...,244.399994,363,282.360992,431.100006,377.600006,838.400024,458.299988,282.360992,AbNormal,0.5013
17359,0.303,117,117,117,0.304,1.000000,1.000000,54,0.498,1.000000,...,244.300003,510,284.799988,244.300003,377.000000,460.000000,157.500000,284.799988,AbNormal,0.6023
17360,0.300,71,71,71,0.301,2.000000,2.000000,54,0.500,2.000000,...,244.399994,483,282.149994,244.399994,377.299988,458.500000,157.000000,282.149994,Normal,0.5410

In [30]:
df_sub = pd.read_csv("../data/submission.csv")
df_sub["target"] = test_pred["prediction_label"]
df_sub.to_csv("../data/automl/submission-7.csv", index=False)